certifi==2026.7.22
charset-normalizer==3.5.1
idna==3.19
kagglehub==1.0.2
kagglesdk==0.1.37
numpy==2.5.3
packaging==26.3
pandas==3.0.5
protobuf==7.36.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
six==1.17.0
tqdm==4.70.1
urllib3==2.7.0
catboost==1.2.10
scikit-learn==1.9.1
pathlib==1.0.1
xgboost==3.4.1
lightgbm==4.7.0
